{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comprobanteproveedor edit</h1>

    {{ include(':comprobanteproveedor:form.html.twig') }}

    <ul>
        <li>
            <a href="{{ path('comprobanteproveedor_index') }}">Back to the list</a>
        </li>
    </ul>

    <script>
        $(document).ready(function() {
            var comprobanteproveedor = {{ comprobanteproveedor.id }};
            $('#frmcomprobante').attr('action', "{{ path('comprobanteproveedor_edit', {'id': comprobanteproveedor.id}) }}");
        });
    </script>
{% endblock %}
