{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nueva factura de proveedor</h1>
    <br>

    {{ include(':comprobanteproveedor:form.html.twig') }}

    <div class="form-group">
        <button class="btn btn-warning" onclick="location.href='{{ path('comprobanteproveedor_index') }}';">Volver al listado</button>
    </div>

    <script>
        $(document).ready(function() {
            $('#frmcomprobante').attr('action', "{{ path('comprobanteproveedor_new') }}");
        });
    </script>
{% endblock %}
