<div id="modalobra" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Seleccione una Obra</h4>
            </div>
            <div class="modal-body">
                <div class="table-wrapper-scroll-y">
                    <table id="tobra" class="table table-bordered table-striped mb-0">
                        <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Obra</th>
                        </tr>
                        </thead>
                        <tbody id="tablaobras">
                        {% for obra in obras %}
                            <tr>
                                <td id="id"><a>{{ obra.id }}</a></td>
                                <td id="nombre"><a>{{ obra.nombre }}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="close">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<script>
    var tabla = $('#tobra').DataTable({
        paging: false
    });
</script>