{% extends 'base.html.twig' %}

{% block body %}
    <h1>Material creation</h1>

    {{ include(':producto:form.html.twig') }}

    <ul>
        <li>
            <a href="{{ path('producto_index') }}">Back to the list</a>
        </li>
    </ul>

    <script>
        $(document).ready(function() {
            $('#frmproducto').attr('action', "{{ path('producto_new') }}");
        });
    </script>
{% endblock %}
