{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nueva Orden de compra</h1>
    <br>

    {{ include(':ordencompra:form.html.twig') }}

    <div class="form-group">
        <button class="btn btn-warning" onclick="location.href={{ path('ordencompra_index') }}">Volver al listado</button>
    </div>

    <script>
        $(document).ready(function() {
            $('#frmordencompra').attr('action', "{{ path('ordencompra_new') }}");
        });
    </script>
{% endblock %}
